<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>OSRS High Score Wrapper</title>
        <meta name="description" content="Wrapper API for Jagex's janky ass player stat API.">
        <meta name="author" content="https://github.com/amirbehmaram">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
    </head>
    <body>
        <div class="top-bar">
            <h1>OSRS Highscore Wrapper</h1>
        </div>
        <div class="wrapper">
        </div>
    </body>
</html>